.App_header {
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 24px;
    margin: 0;
    transition: all .2s;
    color: aliceblue;
    background-color:rgba(5,48,165,.33);
}
.App {
  font-size: calc(10px + 2vmin);
  color: white;
}

  body{
    background-color: rgba(5, 48, 165, 0.44);
    margin: 0;
    display: block;
    
  }
  
  
