.App_header {
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 24px;
    margin: 0;
    transition: all .2s;
    color: aliceblue;

    background: linear-gradient(35deg,rgba(4, 5, 119, 0.514),white);
}
.App {
  font-size: calc(10px + 2vmin);
  color: white;
}

  body{
   

    margin: 0;
    display: block;
    background: linear-gradient(35deg,rgba(5,48,165,.33),white);
    
  }
  html,body
{
    overflow-x: hidden; 
    
}
